@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: var(--font-inter), sans-serif;
}

@layer base {
	:root {
		--sidebar-width: 16rem;
		--background: 42, 45%, 90%;
		--foreground: 35 27% 60%;
		--background-sidebar: 35 27% 60%;
		--background-button: 28, 22%, 28%;
		--text-primary: 28 75% 8%;
		--text-strong: 128 75% 24%;
		--border: 28 75% 8%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 75 12.5% 6.3%;
		--foreground: 0 0% 98%;
		--background-sidebar: 72 4.1% 19%;
		--background-button: 72 2.5% 38.6%;
		--text-primary: 60 2.6% 78%;
		--text-strong: 252 100% 72%;
		--border: 60 2.6% 78%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}

	@media (max-width: 1280px) {
		:root {
			--sidebar-width: 12rem; /* Largura da sidebar para telas menores */
		}
	}

	@media (max-width: 480px) {
		:root {
			--sidebar-width: 8rem; /* Largura da sidebar para telas ainda menores */
		}
	}
}

.hover-underline-animation {
	@apply inline-block relative;
}

.hover-underline-animation::after {
	@apply bg-text-primary content-[''] absolute w-full scale-x-0 h-[2px] bottom-0 left-0 origin-left transition-all ease-in-out duration-300;
}

.hover-underline-animation:hover::after {
	@apply scale-x-100;
}

.default-border {
	@apply border-border shadow-[0_3px_4px_-1px] shadow-border;

	&.no-top {
		@apply border-2 border-t-0 rounded-b-lg;
	}

	&.no-bottom {
		@apply border-2 border-b-0 rounded-t-lg;
	}

	&.all {
		@apply border-2 rounded-lg;
	}

	&.all-no-rounded {
		@apply border-2;
	}

	&.no-shadow {
		@apply shadow-none;
	}
}

.default-page-div {
	@apply flex flex-col h-full sm:pt-sidebar2 pb-sidebar4 pl-sidebar4 pr-sidebar4 gap-sidebar4;

	&.less-gap {
		@apply gap-5;
	}

	&.less-padding-top {
		@apply pt-sidebar6;
	}

	&.more-padding-right {
		@apply lg:pr-sidebar32;
	}
}

.default-font-size {
	&.lg {
		@apply xl:text-lg md:text-base text-sm;
	}

	&.xl {
		@apply xl:text-xl md:text-lg text-base;
	}

	&.xl4 {
		@apply xl:text-4xl md:text-3xl text-2xl;
	}

	&.xl3 {
		@apply xl:text-3xl md:text-2xl text-xl;
	}

	&.xl5 {
		@apply xl:text-5xl md:text-4xl text-3xl;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
